@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

body {
    font-family: 'Vollkorn', serif;
}
.no-serif
{
    font-family: 'Vollkorn', serif;
}
h1 {
	font-weight: 700;
	font-size: 1.7em;
}

h2 {
	font-style: italic;
}

/* home */
.home .logo-accueil {
    margin-top: 50vh;
}
.home .logo-accueil img {
    margin-top: -90px;
}

.montreal-logo {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* no gutter */
.row.no-pad {
    margin-right:0;
    margin-left:0;
}
.row.no-pad > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.top-timeline
{
    margin-top: 50px;
    height: 10px;
}

.blue { background-color: #28a1d5; }
.yellow { background-color: #ffd204; }
.orange { background-color: #f68428;}
.red { background-color: #ef4035; }
.violet { background-color: #9a4d9e; }
.green { background-color: #21ac59; }

.row.title
{
    padding-top: 30px;
}
.btn-circle {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
    margin: 0 10px;
}
.btn-circle .glyphicon{
    font-size: 14px;
}
.btn-circle.active {
    color:#FFF;
}
.btn-circle.active {
    background-color: #3e3e3e;
}
.btn-circle strong {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
    font-size: 40px;
}
.btn-circle small {
    font-size: 15px;
}
.list-element {
	margin-top: 4em;
}

.list-element h1 {
	text-transform: uppercase;
}

.list-element h2 {
	margin-top: 0.1em;
}

.list-element h4 {
	color: #ec462f;
}

.list-element td {
	width: 40%;
}

.list-element img {
	width: 80%;
}

.list-element .image {
	text-align: center;
}

.explanation {
	padding-top: 10vh;
}

.explanation .btn-circle {
	width: 150px;
	height: 150px;
	border: none;
}

.explanation .fa {
	font-size: 5em;
	color: #00a4e4;
}

.humeurs
{
    margin: 20px 0;
}
a.sprite
{
    display: block;
    height: 180px;
    margin: auto;
    width: 190px;
    background-size: cover;
    background-position: right;
}
a.sprite:hover,
a.sprite:focus,
a.sprite.active
{
    background-position: left;
}
.curieux { background-image: url('assets/img/ico-curieux.png'); }
.joueur { background-image: url('assets/img/ico-joueur.png'); }
.temeraire { background-image: url('assets/img/ico-téméraire.png'); }

.comique { background-image: url('assets/img/ico-comique.png'); }
.melancolique { background-image: url('assets/img/ico-mélancolique.png'); }
.coquin { background-image: url('assets/img/ico-coquin.png'); }

.explanation .the-text {
	margin-top: 3em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.explanation .the-text h2 {
	font-size: 3.5em;
}

.explanation .the-text h3 {
	margin-top: 2em;
	font-style: italic;
	font-size: 2em;
}
.explanation img {
	width: 30%;
	margin-top: 3em;
	margin-right: 3em;
}
.button-footer-wrap {
    width: 500px;
    height: 500px;
    padding: 10px 16px;
    border-radius: 500px;
    background-color: #3e3e3e;
    position: fixed;
    bottom: -400px;
    right: 50%;
    margin-right: -250px;
}
.button-footer-wrap a.button-start
{
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}